.quay-gold {
    background-color: #e6cf8b;
}
.quay-pink {
    background-color: #b56969;
}

.quay-blue {
    background-color:  #3fb0ac;
}

.teal {
    background-color: #009688;
}

.light-blue {

     background-color: #B3E5FC
}

.blue {
 background-color: #03A9F4
}

.gray {
    background-color: #757575
}

.dark-blue {
    background-color: #0288D1;
}
.quay-grey {
    background-color: #e8edf3;
}
.dark-gold {
    background-color:#edd9c0;
}

.second-gold {
    background-color: #c9d8c5;
}


.third-gold {
    background-color: #a8b6bf;
}


.fourth-gold {
    background-color: #7d4627;
}


.fifth-gold {
    background-color: #9ad3de;
}


.sixth-gold {
    background-color: #89bdd3;
}

.seventh-gold {
    background-color: #6ed3cf;
}

.grey {
    background-color: #bccbde;
}
.cyan {
    background-color: #00acc1;
}

.blue {
    background-color: #c2dde6;
}
.light-grey {
    background-color: #e6e9f0;
}
.purple {
    background-color: #431c5d;
}
.orange {
    background-color: #e05915;
}
.yellow{
    background-color:#cdd422;
}

.light-blue {
    background-color: #b3e5fc;
}

.amber {
    background-color: #ff9800;
}

.pink {
    background-color: #f06292;
}
