footer {
  background-color: #111;
  font-family: sans-serif;
  margin: 0px;
  color: #FFF;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 0px;
  text-decoration: none;
   position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow:hidden;
}
