h1 {
  text-align: center;
  background: #F6F0F0;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 50px;
  /* Have the padding instead of margin on the left for the colour*/
}
