@import url("colours.css");
html {
    position: relative;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
}
body {
    background: #F6F0F0;
     margin: 0px 0px 58px 0px; /* bottom = footer height */
     padding: 0px;
}
h1, h2, p, ul, li {
    font-family: 'Open Sans';
}

p {
    text-align: justify;
}

ul, li {
    text-align: center;
}

.text-list li {
    text-align: left;
  
}



.center {
display: table;   /* Allow the centering to work */
	margin: 0 auto;
    margin: auto;
    width: 100%;
    padding-bottom: 10px;
}

.katex-display {
    text-align: left;

}

.home h2 {

     text-align: center;
  background: #F6F0F0;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 15px;
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 40px;

}

.Blog-Contents {
  
   padding-top: 1px;
  padding-bottom: 1px;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 17px;
}

.Blog-Text-Body {
  background-color: #FFF;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 30px;
  padding-right: 20px;
  margin-left: 30px;
  margin-top: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  font-size: 17px;
}
.Blog-Text-Body h2 {
  padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 15px;
    padding-left: 0px;
    margin: 0;
    text-align: center;
}
.content li {
  margin-bottom: 0px;
}
.active {
/*  background-color: #0099FF;*/
}


/* Position and sizing of burger button */
.bm-burger-button {
 position: absolute;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #FFFFFF;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.45em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

.bm-item-list a {
    color: #ffffff;

}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}



