html {
    position: relative;
    min-height: 100%;
}
body {
  background: #F6F0F0;
  margin: 0 0 58px; /* bottom = footer height */
}
content {
       margin: 0;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0px;
  margin: 0px;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 0px;
}
.active {
/*  background-color: #0099FF;*/
}
.header {
    padding: 0px;
}
.header a:hover {
  background-color: #ddd;
  color: black;
}



