@import url("index.css");

.menu
    /* layout main menu */
{

    clear: both;
    margin-top: 1em;
    padding-bottom: 1em;
}

ul.menu {
    display: table;
    list-style: none;
    width: 100%;
    height: 20px;
    text-align: center;
}

.menu li
    /* horizontal menu layout */
{
    display: inline-block;
    border: 3px solid white;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    *display: inline; /*IE7*/
    *zoom: 1; /*IE7*/
    color: white;
    margin-right: 10px;

    min-width: 230px;
    min-height: 80px;
    font-weight: bold;
}

.menu li a:hover
    /* link style on-mouse-over */
{
    border: 3px solid #FFFFFF;
    border-radius: 10px;
    background-color: #dd417f;
    min-width: 230px;
    min-height: 80px;
}

.menu li:hover
    /* button style on-mouse-over */
{
    border: 3px solid #FFFFFF;
    border-radius: 10px;
    background-color: #dd417f;
    min-width: 230px;
    min-height: 80px;
}

.menu li a
    /* link style */
{
    color: white;
    font-size: 1em;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 0.7em 1em 0.7em 1em;
    min-width: 230px;
    min-height: 80px;
}

.menu li.active a
    /* active menu item style */
{
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    min-width: 230px;
    min-height: 80px;
}

.menu li.active
    /* active menu button style */
{
    border: 3px solid #FFFFFF;
    border-radius: 10px;
    background-color: #dd417f;
    min-width: 230px;
    min-height: 80px;
}




