@import url("index.css");

.nav-grid
/* layout main menu */
{
   
    clear:both;
    margin-top:1em;
    padding-bottom:1em;
}
ul.nav-grid {
    display: table;
    	list-style: none;
          width:100%;
        height:20px;
        text-align:center;
}
.nav-grid li
/* horizontal menu layout */
 {
    display: inline-block;
    border: 3px solid white;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    
            display:inline-block;
        *display:inline; /*IE7*/
        *zoom:1; /*IE7*/
      
        color:white;
        margin-right:10px;
        min-width: 300px;
        min-height: 80px;
        vertical-align: middle;
        font-weight: bold;
              
 }
.nav-grid li a:hover
/* link style on-mouse-over */
 {
     border: 3px solid #FFFFFF;
    border-radius: 10px;
    background-color: #dd417f;
        min-width: 300px;
        min-height: 80px;
}
.nav-grid li:hover
/* button style on-mouse-over */
 {
    border: 3px solid #FFFFFF;
    border-radius: 10px;
    background-color: #dd417f;
        min-width: 300px;
        min-height: 80px;
}
.nav-grid li a
/* link style */
 {
    color: white;
    font-size: 1em;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 0.7em 1em 0.7em 1em;
        min-width: 300px;
        min-height: 80px;
}
.nav-grid li.active a
/* active menu item style */
 {
    color:#FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
        min-width: 300px;
        min-height: 80px;
}
.nav-grid li.active
/* active menu button style */
 {
    border: 3px solid #FFFFFF;
    border-radius: 10px;
    background-color: #dd417f;
        min-width: 300px;
        min-height: 80px;
}

.dark-gold {
    background-color:#edd9c0;
}

.second-gold {
    background-color: #c9d8c5;
}


.third-gold {
    background-color: #a8b6bf;
}


.fourth-gold {
    background-color: #7d4627;
}


.fifth-gold {
    background-color: #9ad3de;
}


.sixth-gold {
    background-color: #89bdd3;
}

.seventh-gold {
    background-color: #6ed3cf;
}

.grey {
    background-color: #bccbde;
}
.cyan {
    background-color: #00acc1;
}

.blue {
    background-color: #c2dde6;
}
.light-grey {
    background-color: #e6e9f0;
}
.purple {
    background-color: #431c5d;
}
.orange {
    background-color: #e05915;
}
.yellow{
    background-color:#cdd422;
}

.light-blue {
    background-color: #b3e5fc;
}

.amber {
    background-color: #ff9800;
}

.pink {
    background-color: #f06292;
}
